
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --spacing: 0.75rem;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  h2 {
    margin-bottom: 1rem;
    color: black
  }
  
  section {
    margin-bottom: 4rem;
    padding: 1rem;
    border-radius: 6px; 
  }
  
  .contenedor-jugadores {
    overflow: visible;
   
  } 
  
  section>div:not(.cancha):not(.contenedor-jugadores) {
    display: grid;
    margin: auto;
    position: absolute;
    
    @media screen and (min-width: 100px) {
      grid-template-columns: repeat(5, 1fr);
    }
  
  }
  
  
  article img {
    --size: 4.5rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: var(--spacing);
  }
  
  button {
    
    cursor: pointer;
    outline: none;
  }
  
  .jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 2px rgba(#000, 0.05);
    border: 1px solid #104266;
  
    h3 {
      margin-bottom: var(--spacing);
      color: white;
      font-weight: normal;
    }
  
    button {
      line-height: 2rem;
      padding: 0 1rem;
      border-radius: 1rem;
    }
  
    button:first-child {
      $color: #2A8CE1;
      color: #fff;
      background-color: $color;
      margin-right: var(--spacing);
  
      &:hover {
        background-color: darken($color, 10);
      }
    }
  
    button:nth-child(2) {
      background: rgb(83, 87, 90);
      color: white;
      border: 1px solid var(--color);
  
      &:hover {
        background-color: rgb(58, 62, 65);
        color: #fff;
      }
  
    }
  
  }
  
  //----- Titular -----//
  .titular,
  .suplente {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
  
    img {
      margin-bottom: 0;
    }
  
    div {
      position: relative;
    }
  
    p {
      color: #fff;
      background-color: rgba(#000, 0.5);
      padding: 0 1rem;
      line-height: 2;
      border-radius: 1rem;
      font-size: 0.9rem;
    }
  
    button {
      $color: #E40320;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      width: 1.15rem;
      height: 1.15rem;
      border-radius: 50%;
      background-color: $color;
      display: none;
  
      &:hover {
        background-color: darken($color, 5);
      }
  
    }
  
    &:hover {
        button {
            display: flex;
        }
    }
  
  }
  
  .cancha {
    margin: 0 auto;
    width: 75%;
    position: relative;
  
    .titular {
      position: absolute;
  
      img {
        --size: 3rem;
      }
  
      p {
  
        @media screen and (max-width: 640px) {
          display: none;
        }
      }
    }
  
    .titular:first-child {
      left: 0%;
      top: 50%;

    }
  
    .titular:nth-child(2) {
      left: 15%;
      top: 50%;
    }
  
    .titular:nth-child(3) {
      left: 30%;
      top: 50%;
    }
  
    .titular:nth-child(4) {
      left: 45%;
      top: 50%;
    }
  
    .titular:nth-child(5) {
      left: 60%;
      top: 50%;
    }
  
    .titular:nth-child(6) {
      left: 75%;
      top: 50%;
    }
  }