html {
  font-size: 62.5%;
}
.alert h3 {
  font-size: 1.8rem;
  color: #614830;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.recipes2 {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}
.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}
.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}
.ingredient-text {
  font-size: 1.5rem;
  color: #888;
  color: #614830;
}
.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}
ul.a {
  list-style-type: circle;
  color: #AC845B;
}
.wrapperbuscar {
  min-height: 700px;
  margin-bottom: 10px;
}
.wrapper2 {
  min-height: 700px;
  margin-bottom: 5px;
}
.wrapper3 {
  min-height: 700px;
  margin-bottom: 2px;
}
.wrapperfav {
  min-height: 700px;
  margin-bottom: -20px;
}
.pushbuscar {
  height: 80px;
}
.push2 {
  height: 80px;
}
.push3 {
  height: 100px;
}
.pushscore {
  height: 220px;
}

.buttoning {
  background: transparent;
  border-color: rgb(243, 137, 67);
  border-radius: 50px;
  position: relative;
  left: 150px;
  padding: 10px 17px;
  text-align: center;
  font-size: 12px;
}
a.button {
  background: transparent;
  border-radius: 50px;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  color:  rgb(243, 137, 67);
}
.btn {
  background-color: "F38943";
}
.btnrandom {
  background: transparent;
  border-color: rgb(243, 137, 67);
  border-radius: 50px;
  position: relative;
  left: 160px;
  padding: 10px 17px;
  text-align: center;
  font-size: 16px;
} 
.a {
  font-family: 'Balsamiq Sans', cursive;
  font-size: xx-large;
  color: "#AC845B";
}

